<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815207003351-f74c1j9lqc77nin56ooiurrnnlr2n661.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815207003351-f74c1j9lqc77nin56ooiurrnnlr2n661</string>
	<key>API_KEY</key>
	<string>AIzaSyCwcENTIpTMI9pi_mwsiClC3P5ubor1_2c</string>
	<key>GCM_SENDER_ID</key>
	<string>815207003351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.KhatodSaksham.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e6af5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e6af5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815207003351:ios:4d56af7793ba769837ac92</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-e6af5.firebaseio.com</string>
</dict>
</plist>